# Column Transformer

In [11]:
import pandas as pd
import numpy as np

In [12]:
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [13]:
df=pd.read_csv("D:\Machine_learning\csv_files\covid_toy.csv")

In [14]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [15]:
df.shape

(100, 6)

In [16]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [17]:
x=df.drop(columns='has_covid')
y=df['has_covid']

In [18]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

# Aam zindagi

In [19]:
x_train

    age  gender  fever   cough       city
74   34  Female  104.0  Strong      Delhi
57   49  Female   99.0  Strong  Bangalore
38   49  Female  101.0    Mild      Delhi
77    8  Female  101.0    Mild    Kolkata
49   44    Male  104.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
35   82  Female  102.0  Strong  Bangalore
90   59  Female   99.0  Strong      Delhi
40   49  Female  102.0    Mild      Delhi
78   11    Male  100.0    Mild  Bangalore
43   22  Female   99.0    Mild  Bangalore

[80 rows x 5 columns]

In [21]:
# Adding simple imputer to fever column
si=SimpleImputer()
x_train_fever=si.fit_transform(x_train[['fever']])

# Also the test data
x_test_fever=si.transform(x_test[['fever']])

In [23]:
x_train_fever.shape

(80, 1)

In [26]:
# ordinal encoding ->cough
oe=OrdinalEncoder(categories=[['Mild','Strong']])
x_train_cough=oe.fit_transform(x_train[['cough']])

x_test_cough=oe.transform(x_test[['cough']])

In [29]:
x_train_cough.shape

(80, 1)

In [30]:
ohe=OneHotEncoder(drop='first',sparse=False)

x_train_gender_city=ohe.fit_transform(x_train[['gender','city']])

x_test_gender_city=ohe.transform(x_test[['gender','city']])

C:\Users\hp\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [32]:
x_train_gender_city.shape

(80, 4)

In [33]:
# Extracting Age
x_train_age=x_train.drop(columns=['gender','fever','cough','city']).values

x_test_age=x_test.drop(columns=['gender','fever','cough','city']).values

x_train_age.shape

(80, 1)

In [35]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough),axis=1)

x_test_transformed=np.concatenate((x_test_age,x_test_fever,x_test_gender_city,x_test_cough),axis=1)

In [36]:
x_train_transformed.shape

(80, 7)

# Mentos Zindagi

In [37]:
from sklearn.compose import ColumnTransformer

In [39]:
tranformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city']),
],remainder='passthrough')

In [41]:
tranformer.fit_transform(x_train).shape

C:\Users\hp\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [42]:
tranformer.transform(x_test).shape

(20, 7)