# KNN Imputer:
    KNN Imputer: KNN Imputer combines the concepts of KNN and imputation. Instead of simply filling missing values with fixed values (like mean, median, or mode), KNN Imputer predicts missing values based on the values of their nearest neighbors. It uses the similarity between data points to infer the missing values.

### How KNN Imputer Works:

Distance Calculation: KNN Imputer calculates the distance (e.g., Euclidean distance) between data points in the dataset. It identifies the k nearest neighbors for each data point with missing values.

Prediction: For each missing value, KNN Imputer predicts the value based on the values of its nearest neighbors. This prediction can be a weighted average or a simple average of the neighboring values, depending on the algorithm's configuration.

Filling Missing Values: Once predictions are made for missing values, KNN Imputer replaces the missing values in the dataset with these predicted values.

![alt text](<Screenshot 2024-04-11 013815.png>)

![alt text](<Screenshot 2024-04-11 014359.png>)

### Advantage and DisAdvantage:

    1.More Accurate
DisAdvantage:
    1.MOre NO. of calculation

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv("D:\\Machine_learning\\ML_With_Campusx\\Classes_material\\Handling_missing_value\\Smple_Imputer\\train.csv")[['Age','Pclass','Fare','Survived']]

In [3]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [4]:
x=df.drop(columns='Survived')
y=df['Survived']

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [6]:
x_train.head()

      Age  Pclass     Fare
30   40.0       1  27.7208
10    4.0       3  16.7000
873  47.0       3   9.0000
182   9.0       3  31.3875
876  20.0       3   9.8458

In [7]:
KNN=KNNImputer(n_neighbors=3,weights='distance')
x_train_trf=KNN.fit_transform(x_train)
x_test_trf=KNN.transform(x_test)

In [8]:
pd.DataFrame(x_train_trf,columns=x_train.columns)

           Age  Pclass      Fare
0    40.000000     1.0   27.7208
1     4.000000     3.0   16.7000
2    47.000000     3.0    9.0000
3     9.000000     3.0   31.3875
4    20.000000     3.0    9.8458
..         ...     ...       ...
707  30.000000     3.0    8.6625
708  26.151292     3.0    8.7125
709  71.000000     1.0   49.5042
710  32.666667     1.0  221.7792
711  49.762895     1.0   25.9250

[712 rows x 3 columns]

In [9]:
lr=LogisticRegression()
lr.fit(x_train_trf,y_train)
y_pred=lr.predict(x_test_trf)

accuracy_score(y_test,y_pred)

0.7150837988826816

In [10]:
# Comparision with simple Imputer

si=SimpleImputer()

x_train_trf2=si.fit_transform(x_train)
x_test_trf2=si.transform(x_test)

In [11]:
lr=LogisticRegression()
lr.fit(x_train_trf2,y_train)

y_pred2=lr.predict(x_test_trf2)

accuracy_score(y_test,y_pred2)

0.6927374301675978